body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6CAC9;
    margin: 0px;
    color: #62666a;

}

header {
    display: inline-block;
    width: 100%;
    background-color: #B98389;
    padding: 10px 0px 10px 0px;

}

header > h1 {
    color: #89B3BD;
    text-shadow: 2px 2px #62666A;
    display: inline;
    margin-left: 10px;

}

nav {
    display: inline;
    width: 30%;
    margin-left: 40%;
}

a {
    text-decoration: none;
    color: #62666A;
}

nav > a:hover {
    text-decoration: underline;
}

a + a {
    margin-left: 20px;
}

main {
    padding: 30px;
}

.project-1 {
    border: 2px solid #89B3BD;
    border-radius:  20px;
    padding: 20px;
    width: 40%;
    background-color: #FDFCED;
}

form {
    border: 2px solid lightseagreen;
    padding: 20px;
    border-radius:  20px;
    width: 40%;
    display: inline-block;
}
label {
    display: block;
    margin-bottom: 10px;
}
input {
    width: 80%;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
}

#submit {
    border: 2px solid lightseagreen;
    background-color: lightgray;
    border-radius: 10px;
    height: 35px;
    width: 30%;
    color: grey

}

#submit:hover {
    cursor: pointer;
    background-color: rgb(161, 161, 161);
    color: #ffff;
}

footer {
    display: block;
    padding: 10px;
    background-color: #e3e3e3e3;
    color: gray;
}

footer > a {
    color: #89B3BD;

}

